<div class = "center jumbotron" >
      <h1>MoG에 오신걸 환영합니다</h1>
            <h2>Write_What You Think And What's In Your Mind.</h2>
            <%=  link_to  "Sign up now!" ,  '#' ,  class:"btn btn-lg btn-primary"  %>
</div>
